._CWC footer.footer-wrapper {
  background-color: var(--color-bg1);
  padding: 64px 24px 64px;
  color: var(--color-PrimaryText);
}
@media only screen and (min-width: 768px) {
  .theme-root.dark {
    --shadow1-layer1: 0px 0px 1px rgba(94, 102, 115, 0.8);
    --shadow1-layer2: 0px 3px 6px rgba(0, 0, 0, 0.04);
    --shadow1-layer3: 0px 1px 2px rgba(0, 0, 0, 0.04);
    --shadow2-layer1: -2px 0px 14px rgba(0, 0, 0, 0.28);
    --shadow2-layer2: 0px 0px 6px rgba(0, 0, 0, 0.08);
    --shadow-shadow1: var(--shadow1-layer1), var(--shadow1-layer2),
      var(--shadow1-layer3);
    --shadow-shadow2: var(--shadow2-layer1), var(--shadow2-layer2);
    --shadow3-layer1: 0px 16px 32px rgba(0, 0, 0, 0.16);
    --shadow3-layer2: 0px 8px 16px rgba(0, 0, 0, 0.16);
    --shadow3-layer3: inset 0px 0px 1px rgba(94, 102, 115, 0.9);
    --shadow-shadow3: var(--shadow3-layer1), var(--shadow3-layer2),
      var(--shadow3-layer3);
    --shadow-shadow4: 0px 8px 16px rgba(24, 26, 32, 0.16);
  }
}
._CWC .footer-content {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-column-gap: 24px;
  width: 1200px;
  justify-content: space-between;
  margin: 0 auto;
}
._CWC .footer-copyright {
  max-width: 1200px;
  margin: 64px auto 0;
}
._CWC .footer-copyright-line {
  width: 100%;
  height: 1px;
  background-color: var(--color-line);
}
._CWC .footer-copyright-text {
  margin-top: 16px;
  color: var(--color-textSecondary);
}
@media only screen and (min-width: 768px) {
  .typography-Body3 {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}
._CWC .footer-copyright-cookieprefrence {
  cursor: pointer;
  margin-inline-start: 24px;
  white-space: nowrap;
}
._CWC .footer-navlist {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 24px;
}
._CWC .footer-navlist-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  color: var(--color-textPrimary);
}
._CWC .footer-icongroup {
  display: grid;
  grid-template-columns: repeat(4, 24px);
  grid-gap: 24px;
  margin-top: 24px;
}
._CWC .common-widget-css_wrap .mt-48 {
  margin-top: 48px;
}
._CWC .footer-icon {
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: var(--color-textPrimary);
}
._CWC .footer-icon:hover {
  color: var(--color-textSecondary);
}
._CWC .bn-tooltips-wrap {
  width: fit-content;
  position: relative;
  display: inline-flex;
}
._CWC .bn-tooltips-ele {
  width: 100%;
  align-items: center;
  display: inline-flex;
}
._CWC .common-widget-css_wrap .align-center {
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .typography-Subtitle4 {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
  }
}
._CWC .common-widget-css_wrap .mr-8 {
  margin-inline-end: 8px;
}
._CWC .lngAndCurrency-selectgroup .bn-svg {
  font-size: 24px;
  width: 24px;
  height: 1em;
  color: var(--color-textPrimary) !important;
}
._CWC .bn-tooltips {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  position: absolute;
  width: max-content;
  z-index: var(--zindex-tooltip);
  transition-property: opacity, visibility;
  transition-timing-function: ease-in-out;
  transition-duration: var(--animation-duration-base);
}
._CWC .bn-tooltips.active {
  opacity: 1;
  --scroll-size: 0;
  overflow: visible;
  visibility: visible;
  max-height: fit-content;
}
._CWC .footer-select-options-group {
  margin: 16px;
  width: 200px;
}
._CWC .bn-bubble__unset,
._CWC .bn-bubble__normal {
  color: var(--color-PrimaryText);
  --color-arrow: var(--color-CardBg);
}
._CWC .bn-bubble-content {
  z-index: 1;
  max-width: 320px;
  position: relative;
  border-radius: var(--radii-xs);
  background-color: var(--color-arrow);
  padding: var(--space-4xs) var(--space-2xs);
}
._CWC .footer-select-options-body {
  height: 288px;
  overflow: auto;
  margin-top: 16px;
}
._CWC .footer-select-options-group .bn-textField {
  width: 200px;
}
._CWC .bn-textField.data-size-small {
  height: 32px;
}
._CWC .bn-textField__line {
  background: rgba(0, 0, 0, 0);
  border-color: var(--color-InputLine);
}
._CWC .bn-textField {
  height: 40px;
  width: 345px;
  max-width: 100vw;
  flex-wrap: nowrap;
  align-items: center;
  display: inline-flex;
  gap: var(--space-2xs);
  padding: 0 var(--space-s);
  color: var(--color-PrimaryText);
  background-color: var(--color-Input);
  border-radius: var(--radii-m);
  border: 1px solid rgba(0, 0, 0, 0);
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: var(--animation-duration-base);
}
._CWC .bn-tooltips.active.shadow > .bn-bubble-content {
  box-shadow: var(--shadow-shadow2);
}
._CWC .footer-community-currency {
  margin-top: 16px;
}
._CWC .footer-theme-switch {
  margin-top: 16px;
  margin-left: 0;
  display: flex;
  align-items: center;
}
._CWC .footer-theme-switch .footer-theme-switch-text {
  margin-right: 8px;
}
._CWC .footer-theme-switch .bn-switch.checked {
  background-color: var(--color-disable);
}
._CWC .bn-switch {
  padding: 2px;
  width: 42px;
  height: 22px;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  justify-content: flex-start;
  border-radius: var(--radii-m);
  background-color: var(--color-DisabledText);
  transition: background-color ease-in-out 150ms;
}
._CWC .bn-switch-dot {
  width: 1em;
  height: 1em;
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radii-s);
  background-color: var(--color-RedGreenBgText);
  position: absolute;
  right: 0;
}
._CWC .footer-theme-switch .bn-switch .switch-icon {
  color: var(--color-textBlack) !important;
  font-size: 16px;
}
._CWC .lngAndCurrency-selectgroup .bn-svg {
  font-size: 24px;
  width: 24px;
  color: var(--color-textPrimary) !important;
  height: 1em;
}
._CWC .bn-switch::before {
  content: "";
  transition: flex ease-in-out 150ms;
}
._CWC .footer-navlist {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 24px;
}
._CWC .footer-navlist-sub {
  break-inside: avoid;
}
._CWC .footer-navlist .footer-navlist-item-list {
  list-style: none;
  margin-top: 16px;
}
._CWC .footer-navlist-expand-icon {
  display: none;
}
._CWC .footer-navlist-item + .footer-navlist-item {
  margin-top: 8px;
}
._CWC .footer-navlist .footer-navlist-item .color-textprimary:hover {
  color: var(--color-textBrand);
}
._CWC .footer-navlist-sub + .footer-navlist-sub {
  margin-top: 40px;
}
