.css-5oj4n {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: flex;
  overflow: hidden;
  -webkit-box-align: center;
  align-items: center;
  flex: 1;
  flex-direction: column;
}
.content-layout {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 80px 24px 48px;
}
.content-card {
  background-color: var(--color-BasicBg);
  border-radius: 24px;
  min-height: 580px;
  padding: 40px;
  width: 425px;
}
.content-card .icon-wrap {
  margin-bottom: 32px;
}
.css-49vimp {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.content-card .default-icon {
  height: 28px;
  width: auto;
}

@media (min-width: 768px) {
  .card-page-title {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
  }
}
.bn-tooltips-wrap {
  display: inline-flex;
  position: relative;
  width: fit-content;
}
@media only screen and (min-width: 768px) {
  .bn-formItem {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
  }
}
.bn-formItem {
  display: flex;
  flex-direction: column;
  gap: var(--space-4xs);
}
@media only screen and (min-width: 768px) {
  .bn-formItem-label {
    color: var(--color-PrimaryText);
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
  }
}
.css-4cffwv {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: flex;
}
.css-8x1t0r {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  border: 1px solid transparent;
  border-color: #474d57;
  background-color: transparent;
  display: flex;
  flex: 1;
  width: 100%;
}
.css-8x1t0r .bn-textField-input {
  height: 50px;
}
.qrcode-login-popup .bn-bubble.bn-bubble__normal.bn-tooltips {
  box-shadow: none !important;
  right: -40px !important;
  width: 425px !important;
  z-index: 1100 !important;
}
.bn-tooltips-wrap {
  display: inline-flex;
  position: relative;
  width: fit-content;
}
.bn-tooltips-ele {
  align-items: center;
  display: inline-flex;
  width: 100%;
}
.qrcode-login-popup
  .bn-bubble.bn-bubble__normal.bn-tooltips
  .bn-bubble-content {
  background: var(--color-CardBg) !important;
  border-color: var(--color-Line) !important;
  border-radius: 16px !important;
  border-style: solid !important;
  border-width: 1px !important;
  box-shadow: 0 8px 14px 0 rgba(71, 77, 87, 0.08) !important;
  max-width: none !important;
  padding: 40px !important;
}
.bn-bubble-content {
  position: relative;
  z-index: 1;
}
.bn-lazy-img {
  overflow: hidden;
  position: relative;
}
.bn-spinner__nezha {
  align-items: center;
  display: inline-flex;
  gap: 4px;
  justify-content: center;
  padding: var(--space-m);
}
.bn-spinner__nezha > .nezha-line {
  animation: jump-scaleY 1.5s linear infinite;
  background-color: var(--color-BtnBg);
  height: 8px;
  transform-origin: top;
  width: 4px;
}
.bn-tooltips-wrap.active > .bn-tooltips {
  --scroll-size: 0;
  max-height: fit-content;
  opacity: 1;
  overflow: visible;
  visibility: visible;
}
.qrcode-login-popup .bn-bubble.bn-bubble__normal.bn-tooltips .bn-bubble-arrow {
  border-bottom-width: 1px !important;
  border-left: 1px solid var(--color-Line) !important;
  border-right-width: 1px !important;
  border-top: 1px solid var(--color-Line) !important;
  box-shadow: none !important;
  height: 15px !important;
  right: 53px !important;
  top: 9px !important;
  width: 15px !important;
}
