@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
/* ------------------------------------------------------------ Public Styles */
@font-face {
  font-family: "BinancePlex";
  font-display: swap;
  src: url("https://bin.bnbstatic.com/static/fonts/bp/BinancePlex-Light.woff2")
      format("woff2"),
    url("https://bin.bnbstatic.com/static/fonts/bp/BinancePlex-Light.otf")
      format("opentype");
  font-weight: 200;
}
@font-face {
  font-family: "BinancePlex";
  font-display: swap;
  src: url("https://bin.bnbstatic.com/static/fonts/bp/BinancePlex-Light.woff2")
      format("woff2"),
    url("https://bin.bnbstatic.com/static/fonts/bp/BinancePlex-Light.otf")
      format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "BinancePlex";
  font-display: swap;
  src: url("https://bin.bnbstatic.com/static/fonts/bp/BinancePlex-Regular.woff2")
      format("woff2"),
    url("https://bin.bnbstatic.com/static/fonts/bp/BinancePlex-Regular.otf")
      format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "BinancePlex";
  font-display: swap;
  src: url("https://bin.bnbstatic.com/static/fonts/bp/BinancePlex-Medium.woff2")
      format("woff2"),
    url("https://bin.bnbstatic.com/static/fonts/bp/BinancePlex-Medium.otf")
      format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "BinancePlex";
  font-display: swap;
  src: url("https://bin.bnbstatic.com/static/fonts/bp/BinancePlex-SemiBold.woff2")
      format("woff2"),
    url("https://bin.bnbstatic.com/static/fonts/bp/BinancePlex-SemiBold.otf")
      format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "BinancePlex";
  font-display: swap;
  src: url("https://bin.bnbstatic.com/static/fonts/bp/BinancePlex-SemiBold.woff2")
      format("woff2"),
    url("https://bin.bnbstatic.com/static/fonts/bp/BinancePlex-SemiBold.otf")
      format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "BinancePlex";
  font-display: swap;
  src: url("https://bin.bnbstatic.com/static/fonts/bp/BinancePlex-SemiBold.woff2")
      format("woff2"),
    url("https://bin.bnbstatic.com/static/fonts/bp/BinancePlex-SemiBold.otf")
      format("opentype");
  font-weight: 800;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: BinancePlex, Arial, sans-serif;
  font-feature-settings: "lnum" 1;
}
a {
  color: inherit;
  text-decoration: none;
}
:root {
  --cta-bg: #1e2329;
  --color-sell: #f6465d;
  --color-textSell: #f6465d;
  --color-sellHover: #ff707e;
  --color-depthSellBg: #35141d;
  --color-buy: #0ecb81;
  --color-textBuy: #0ecb81;
  --color-buyHover: #32d993;
  --color-depthBuyBg: #102821;
  --color-line: #2b3139;
  --color-outlineHover: #6a4403;
  --color-primary: #fcd535;
  --color-primaryHover: #f0b90b;
  --color-error: #f6465d;
  --color-errorBg: #35141d;
  --color-success: #0ecb81;
  --color-successBg: #102821;
  --color-disable: #474d57;
  --color-iconNormal: #848e9c;
  --color-textWhite: #ffffff;
  --color-textGray: #eaecef;
  --color-textBlack: #0b0e11;
  --color-textPrimary: #eaecef;
  --color-textSecondary: #b7bdc6;
  --color-textThird: #848e9c;
  --color-textDisabled: #5e6673;
  --color-textBrand: #f0b90b;
  --color-textToast: #a37200;
  --color-bg: #181a20;
  --color-bg1: #181a20;
  --color-bg2: #0b0e11;
  --color-bg3: #2b3139;
  --color-bg4: #5e6673;
  --color-bg6: #202630;
  --color-bg7: #191a1f;
  --color-popupBg: #1e2329;
  --color-badgeBg: #2d2a20;
  --color-selectedBg: #1e2026;
  --color-gradientBrand: linear-gradient(180deg, #f8d12f 0%, #f0b90b 100%);
  --color-gradientPrimary: linear-gradient(
    295.27deg,
    #15141a 0%,
    #474d57 84.52%
  );
  --color-BasicBg: #181a20;
  --color-SecondaryBg: #0b0e11;
  --color-Input: #2b3139;
  --color-InputLine: #474d57;
  --color-CardBg: #1e2329;
  --color-Vessel: #1e2329;
  --color-Line: #2b3139;
  --color-DisableBtn: #2b3139;
  --color-DisabledText: #5e6673;
  --color-DisableText: #5e6673;
  --color-TertiaryText: #848e9c;
  --color-SecondaryText: #b7bdc6;
  --color-PrimaryText: #eaecef;
  --color-RedGreenBgText: #ffffff;
  --color-EmphasizeText: #ff693d;
  --color-TextOnGray: #eaecef;
  --color-TextOnYellow: #202630;
  --color-IconNormal: #848e9c;
  --color-LiteBg1: #202630;
  --color-LiteBg2: #191a1f;
  --color-BtnBg: #fcd535;
  --color-PrimaryYellow: #f0b90b;
  --color-TextLink: #f0b90b;
  --color-TextToast: #a37200;
  --color-DepthSellBg: #35141d;
  --color-SellHover: #ff707e;
  --color-Sell: #f6465d;
  --color-TextSell: #f6465d;
  --color-DepthBuyBg: #102821;
  --color-BuyHover: #32d993;
  --color-Buy: #2ebd85;
  --color-TextBuy: #2ebd85;
  --color-Error: #f6465d;
  --color-SuccessBg: #102821;
  --color-Success: #2ebd85;
  --color-TagBg: #474d57;
  --color-Grid: #2b3139;
  --color-Placeholder: #474d57;
  --color-ToastBg: #707a8a;
  --color-TwoColorIcon: #caced3;
  --color-ErrorBg: rgba(246, 70, 93, 0.1);
  --color-BadgeBg: rgba(240, 185, 11, 0.1);
}

body.light {
  --cta-bg: #fafafa;
  --color-sell: #f6465d;
  --color-textSell: #e33b54;
  --color-sellHover: #ff707e;
  --color-depthSellBg: #fef1f2;
  --color-buy: #0ecb81;
  --color-textBuy: #2ebd85;
  --color-buyHover: #32d993;
  --color-depthBuyBg: #e6fff1;
  --color-line: #eaecef;
  --color-outlineHover: #ffef87;
  --color-primary: #fcd535;
  --color-primaryHover: #f0b90b;
  --color-error: #e33b54;
  --color-errorBg: #fef1f2;
  --color-success: #0ecb81;
  --color-successBg: #e6fff1;
  --color-disable: #eaecef;
  --color-iconNormal: #929aa5;
  --color-textWhite: #ffffff;
  --color-textGray: #eaecef;
  --color-textBlack: #0b0e11;
  --color-textPrimary: #1e2329;
  --color-textSecondary: #474d57;
  --color-textThird: #707a8a;
  --color-textDisabled: #b7bdc6;
  --color-textBrand: #c99400;
  --color-textToast: #8d5f02;
  --color-bg: #f5f5f5;
  --color-bg1: #ffffff;
  --color-bg2: #fafafa;
  --color-bg3: #f5f5f5;
  --color-bg4: #5e6673;
  --color-bg6: #ffffff;
  --color-bg7: #fafafa;
  --color-popupBg: #ffffff;
  --color-badgeBg: #fef6d8;
  --color-selectedBg: #fafafa;
  --color-gradientBrand: linear-gradient(180deg, #f8d12f 0%, #f0b90b 100%);
  --color-gradientPrimary: linear-gradient(
    295.27deg,
    #ffffff 0%,
    #e6e8ea 84.52%
  );
  --color-BasicBg: #ffffff;
  --color-SecondaryBg: #fafafa;
  --color-Input: #f5f5f5;
  --color-InputLine: #d8dce1;
  --color-CardBg: #ffffff;
  --color-Vessel: #fafafa;
  --color-Line: #eaecef;
  --color-DisableBtn: #eaecef;
  --color-DisabledText: #b7bdc6;
  --color-DisableText: #b7bdc6;
  --color-TertiaryText: #707a8a;
  --color-SecondaryText: #474d57;
  --color-PrimaryText: #202630;
  --color-RedGreenBgText: #ffffff;
  --color-EmphasizeText: #ff693d;
  --color-TextOnGray: #eaecef;
  --color-TextOnYellow: #202630;
  --color-IconNormal: #929aa5;
  --color-LiteBg1: #ffffff;
  --color-LiteBg2: #fafafa;
  --color-BtnBg: #fcd535;
  --color-PrimaryYellow: #f0b90b;
  --color-TextLink: #c99400;
  --color-TextToast: #8d5f02;
  --color-DepthSellBg: #fef1f2;
  --color-SellHover: #ff707e;
  --color-Sell: #f6465d;
  --color-TextSell: #e33b54;
  --color-DepthBuyBg: #e6fff1;
  --color-BuyHover: #32d993;
  --color-Buy: #2ebd85;
  --color-TextBuy: #2ebd85;
  --color-Error: #e33b54;
  --color-SuccessBg: #e6fff1;
  --color-Success: #2ebd85;
  --color-TagBg: #eaecef;
  --color-Grid: #eaecef;
  --color-Placeholder: #b7bdc6;
  --color-ToastBg: #707a8a;
  --color-TwoColorIcon: #474d57;
  --color-ErrorBg: rgba(246, 70, 93, 0.1);
  --color-BadgeBg: rgba(240, 185, 11, 0.1);
}

body {
  background: var(--color-bg);
  font-size: 14px;
  margin: 0;
  padding: 0;
  --scroll-pad: 2px;
  --scroll-size: 10px;
  --scroll-bg: transparent;
  --scroll-color: var(--color-DisabledText);
  --animation-duration-fast: 100ms;
  --animation-duration-base: 250ms;
  --animation-duration-slow: 400ms;
  --zindex-mask: 10;
  --zindex-menu: 1000;
  --zindex-header: 1001;
  --zindex-dropdown: 1200;
  --zindex-modal: 1200;
  --zindex-backTop: 1225;
  --zindex-calendar: 1250;
  --zindex-mobilePop: 1275;
  --zindex-notification: 1300;
  --zindex-alert: 1350;
  --zindex-tooltip: 1400;
  --zindex-coachmark: 1400;
  --zindex-drawer: 9999;
  --radii-2xs: 2px;
  --radii-xs: 4px;
  --radii-s: 6px;
  --radii-m: 8px;
  --radii-l: 10px;
  --radii-2l: 12px;
  --radii-xl: 16px;
  --radii-2xl: 30px;
  --radii-circle: 100em;
  --space-5xs: 2px;
  --space-4xs: 4px;
  --space-3xs: 5px;
  --space-2xs: 8px;
  --space-xs: 10px;
  --space-s: 12px;
  --space-m: 15px;
  --space-l: 20px;
  --space-xl: 24px;
  --space-2xl: 28px;
  --space-3xl: 32px;
  --space-4xl: 36px;
  --space-5xl: 40px;
  --space-mm: 16px;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-textDisabled);
  border-radius: 10px;
}
/* ------------------------------------------------------------ Public Styles */
