.desktop\:gap-l {
  gap: 20px;
}
.noH5\:pt-s {
  padding-top: 12px;
}
.noH5\:pb-l,
.noH5\:py-l {
  padding-bottom: 20px;
}
.noH5\:px-xl {
  padding-left: 24px;
  padding-right: 24px;
}
.relative {
  position: relative;
}
.bn-tabs {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.desktop\:\[\&\>\*\]\:first\:my-0:first-child > * {
  margin-bottom: 0;
  margin-top: 0;
}
.bn-tab-list__default {
  gap: var(--space-xl);
}
.bn-tab-list {
  background: transparent;
  display: flex;
  overflow: auto;
  position: relative;
  scrollbar-width: none;
  width: 100%;
}
.coin-list-content .bn-tab-list .bn-tab {
  font-weight: 600;
}
.bn-tab__default-breakline.active,
.bn-tab__default.active {
  color: var(--color-PrimaryText);
}
.noH5\:gap-\[20px\] {
  gap: 20px;
}

.text-subtitle1 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.mr-4xs {
  margin-right: 4px;
}
.ml-2xs {
  margin-left: 8px;
}
@media (min-width: 767px) {
  .noH5\:absolute {
    position: absolute;
  }
}
@media (min-width: 767px) {
  :is(.ltr\:noH5\:right-0) {
    right: 0;
  }
}
@media (min-width: 767px) {
  .noH5\:gap-m {
    gap: 16px;
  }
}
@media (min-width: 767px) {
  .noH5\:gap-\[16px\] {
    grid-gap: 16px;
    gap: 16px;
  }
}
@media only screen and (min-width: 768px) {
  .bn-tab__default,
  .bn-tab__default-breakline {
    font-size: 16px;
    line-height: 24px;
  }
}
.bn-tab__default {
  border-bottom: 3px solid transparent;
  padding: 0;
  padding-bottom: 5px;
  padding-top: var(--space-2xs);
  position: relative;
}

.bn-tab__default:after {
  background: var(--color-BtnBg);
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  min-height: 3px;
  margin: 0 auto;
  opacity: 0;
  position: absolute;
  transition: opacity 0.15s linear;
  min-width: 16px;
}
.bn-tab__default.active:after {
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .bn-tab {
    color: var(--color-TertiaryText);
  }
}
.text-t-sell {
  color: var(--color-textSell);
}
.text-t-buy {
  color: var(--color-textBuy);
}
.hover\:text-t-secondary:hover {
  color: var(--color-textSecondary);
}
.bn-tab-pane {
  display: none;
}
.bn-tab-pane.active{
  display: block;
}